<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <% if(data.length>0){ %>
 <table class="table table-bordered table-sm  " border="1" id="myTable">
      <thead>
        <tr>
          <th>id</th>
          <th>FullName</th>
          <th>UserName</th>
          <th>Password</th>
          <th>Role</th>
         
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%for(var i=0; i<data.length; i++){%>
        <tr>
          <td><%= i+1 %></td>
          <td><%= data[i].FullName %></td>
          <td><%= data[i].UserName %></td>
          <td><%= data[i].password %></td>
          <!-- <td><%= data[i].role %></td> -->
          <td><%= data[i].rol %></td>
          <!-- <td><%= data[i].addre %></td> -->
          
          <td><a href="/edit/<%= data[i]._id %>">Edit</a>&nbsp;&nbsp;
            <a href="/delete/<%= data[i]._id %>">Delete</a></td>
          </tr>
          <% } %>
        
      </tbody>
    </table>
    <% } else { %>
      No record found

  <%} %>
</body>
</html>